/* Computer's Hand */
.computersHand {
    display: flex;
    justify-content: center;
}

/* Card1 */
#firstCardComp {
    height: 27%;
    width: 8%;
    position: absolute;
    top: 4.25%;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    margin-right: 12.5%;
    z-index: 0;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(2deg) scale(0.6);
    transition: top 0.5s, margin 0.5s, transform 0.5s;
}

#firstCardCompInterior {
    height: 95%;
    width: 90%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#firstCardCompInterior img {
    width: 100%;
}

/* Card2 */
#secondCardComp {
    height: 27%;
    width: 8%;
    position: absolute;
    top: 4.5%;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    margin-right: 6.25%;
    z-index: 1;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(1deg) scale(0.6);
    transition: top 0.5s, margin 0.5s, transform 0.5s;
}

#secondCardCompInterior {
    height: 95%;
    width: 90%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#secondCardCompInterior img {
    width: 100%;
}

/* Card3 */
#thirdCardComp {
    height: 27%;
    width: 8%;
    position: absolute;
    top: 4.75%;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    z-index: 2;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(0deg) scale(0.6);
    transition: top 0.5s, margin 0.5s, transform 0.5s;
}

#thirdCardCompInterior {
    height: 95%;
    width: 90%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thirdCardCompInterior img {
    width: 100%;
}

/* Card4 */
#fourthCardComp {
    height: 27%;
    width: 8%;
    position: absolute;
    top: 4.5%;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    margin-left: 6.25%;
    z-index: 3;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(-1deg) scale(0.6);
    transition: top 0.5s, margin 0.5s, transform 0.5s;
}

#fourthCardCompInterior {
    height: 95%;
    width: 90%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fourthCardCompInterior img {
    width: 100%;
}

/* Card5 */
#fifthCardComp {
    height: 27%;
    width: 8%;
    position: absolute;
    top: 4.25%;
    background: black;
    border-radius: 20px;
    border: 3px solid white;
    margin-left: 12.5%;
    z-index: 4;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateZ(-2deg) scale(0.6);
    transition: top 0.5s, margin 0.5s, transform 0.5s;
}

#fifthCardCompInterior {
    height: 95%;
    width: 90%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fifthCardCompInterior img {
    width: 100%;
}


/* Card Computer Backs */
/* Card1 Back */
#firstCardCompBackInterior {
    position: absolute;
    z-index: -30;
    height: 95%;
    width: 90%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
}

#firstCardCompBackInterior img {
    width: 40%;
    position: absolute;
}

#firstCardCompBackInterior:after {
    content: '';
    height: 60%;
    width: 100%;
    border: 3px solid white;
    border-radius: 70% 30% 70% 30%;   
}

/* Card2 Back */
#secondCardCompBackInterior {
    position: absolute;
    z-index: -30;
    height: 95%;
    width: 90%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
}

#secondCardCompBackInterior img {
    width: 50%;
    position: absolute;
}

#secondCardCompBackInterior:after {
    content: '';
    height: 60%;
    width: 100%;
    border: 3px solid white;
    border-radius: 70% 30% 70% 30%;   
}

/* Card3 Back */
#thirdCardCompBackInterior {
    position: absolute;
    z-index: -30;
    height: 95%;
    width: 90%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
}

#thirdCardCompBackInterior img {
    width: 40%;
    position: absolute;
}

#thirdCardCompBackInterior:after {
    content: '';
    height: 60%;
    width: 100%;
    border: 3px solid white;
    border-radius: 70% 30% 70% 30%;   
}

/* Card4 Back */
#fourthCardCompBackInterior {
    position: absolute;
    z-index: -30;
    height: 95%;
    width: 90%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
}

#fourthCardCompBackInterior img {
    width: 50%;
    position: absolute;
}

#fourthCardCompBackInterior:after {
    content: '';
    height: 60%;
    width: 100%;
    border: 3px solid white;
    border-radius: 70% 30% 70% 30%;   
}

/* Card5 Back */
#fifthCardCompBackInterior {
    position: absolute;
    z-index: -30;
    height: 95%;
    width: 90%;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    border-radius: 40px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: translateZ(-1px);
}

#fifthCardCompBackInterior img {
    width: 60%;
    position: absolute;
}

#fifthCardCompBackInterior:after {
    content: '';
    height: 60%;
    width: 100%;
    border: 3px solid white;
    border-radius: 70% 30% 70% 30%;   
}