#computersPoints {
    position: absolute;
    top: 5%;
    left: 2.5%;
    cursor: default;
}

#computersPoints p {
    font-size: 50px;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -4px 5px 0px #585858;
    transform: rotate(-5deg);
    color: #7290FD;
}

#playersPoints {
    position: absolute;
    bottom: 5%;
    left: 2.5%;
    cursor: default;
}

#playersPoints p {
    font-size: 50px;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -4px 5px 0px #585858;
    transform: rotate(-5deg);
    color: #7290FD;
}

#announcerText {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

#announcerText p {
    font-size: 0;
    font-weight: bold;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -4px 5px 0px #585858;
    color: #7290FD;
    transform: rotate(-20deg);
    z-index: 999;
    transition: all 0.25s ease-in-out;
}





.cubeEverything {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 0;
    transform: rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
    cursor: pointer;
    transform-style: preserve-3d;
    box-shadow: 0 0 5px black;
    transition: all 0.75s ease;
}

#frontFace {
    position: absolute;
    height: 50px;
    width: 50px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.25s ease-in-out;
}

#frontFace p {
    color: white;
    font-size: 30px;
}

#leftFace {
    position: absolute;
    left: 25px;
    height: 50px;
    width: 50px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    transform-style: preserve-3d;
    transform: rotateY(90deg) translateX(25px);
}

#rightFace {
    position: absolute;
    left: -25px;
    height: 50px;
    width: 50px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    transform-style: preserve-3d;
    transform: rotateY(90deg) translateX(25px);
}

#backFace {
    position: absolute;
    height: 50px;
    width: 50px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    transform-style: preserve-3d;
    transform: translateZ(-50px);
}

#upperFace {
    position: absolute;
    top: -25px;
    height: 50px;
    width: 50px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateY(-25px);
}

#bottomFace {
    position: absolute;
    top: 25px;
    height: 50px;
    width: 50px;
    background: radial-gradient(rgb(211, 0, 0), rgb(78, 0, 0));
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateY(-25px);
}